<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.master.deviceinfo">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>


    <uses-feature
            android:name="android.hardware.sensor.proximity"
            android:required="false"/>
    <uses-feature
            android:name="android.hardware.sensor.gyroscope"
            android:required="false"/>

    <uses-feature
            android:name="android.hardware.wifi"
            android:required="false"/>

    <uses-feature android:name="android.hardware.camera"/>


    <application
            android:allowBackup="true"
            android:icon="@drawable/app_icon"
            android:label="@string/app_name"
            android:roundIcon="@drawable/app_icon"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name="master.activity.SplashActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>


        <activity
                android:name="master.activity.HomeActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar"
                android:screenOrientation="portrait"></activity>


        <activity android:name="master.activity.MainActivity">


        </activity>


        <service android:name=".service.AppWidgetService"/>

        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="@string/app_id" />

    </application>

</manifest>